DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=your-database-username
DATABASE_PASSWORD=your-database-password

USER_DATABASE_NAME=userdb
TRIP_DATABASE_NAME=tripdb
NOTIFICATION_DATABASE_NAME=notificationdb

USER_DATABASE_URL=jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${USER_DATABASE_NAME}
TRIP_DATABASE_URL=jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${TRIP_DATABASE_NAME}
NOTIFICATION_DATABASE_URL=jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${NOTIFICATION_DATABASE_NAME}

USER_SERVICE_PORT=8081
TRIP_SERVICE_PORT=8082
NOTIFICATION_SERVICE_PORT=8083

JWT_SECRET=your-jwt-secret
JWT_ACCESS_TOKEN_LIFETIME=86400000
